@tailwind base;
@tailwind components;
@tailwind utilities;

.main_section {
    width: 100%;
    height: 100vh;
}

.toggle_checkbox {
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.active_button {
    @apply px-2 border-[#D2E9E9] border rounded-sm;
    background: #E3F4F4;
}

input:focus {
    outline: none;
}

.toggle_all_btn::before {
    content: '❯';
    font-size: 22px;
    color: #e6e6e6;
    padding: 10px 27px 10px 27px;
    color: #737373;
}

#toggle-all {
    position: absolute;
    top: -70px;
}